@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
footer{
  background-color: #40474e;
  color:white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0.6)!important;
}
.fixed{
  background-image: url(img/home.jpg);
  z-index: -1;
}
.dark{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;
}
.navbar-nav li{
  padding-right:.7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #1ebba3;
}
.home-inner{
  background-image: url(img/computers.png);
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;

}
.narrow{
  width: 75%;
  margin: 1.5rem auto;

}
.offset:before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}
h2.heading{
  font-weight: 700;
  margin-bottom: 1.9rem;
}
.svg-inline--fa{
  color: #1ebba3;
}
hr.socket{
  width: 100%;
  border-top: 2px solid #666b71;
  margin-top: 3rem;
}
.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
.jumbotron{
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
}
.caption h1{
  font-size: 3.6rem;
  letter-spacing: .3rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 0;
}






/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
